.section-one-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-one {
    height: 8rem;
    width: 19rem;

    background-color: aquamarine;

    overflow: hidden;
    position: relative;

    border-radius: 2rem;
}

.block-one img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.block-two {
    height: 3.5rem;
    width: 19rem;

    display: flex;
    align-items: flex-end;

    overflow: hidden;
}

.element-profile-photo {
    margin-left: 0.5rem;
    width: 6rem;
    height: 6rem;

    overflow: hidden;
    position: absolute;
    z-index: 100;

    border-radius: 50%;

    background-color: brown;
}

.element-profile-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.element-basic-description {
    margin-left: 7rem;
    width: 12rem;
    height: 3.5rem;

    display: flex;
    flex-direction: column;
}

.profile-txt-no-margin {
    margin: 0;
}

.block-three {
    height: 7rem;
    width: 19rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-follows-data {
    width: 6rem;
    height: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block-four {
    height: 0.1rem;
    width: 17rem;

    background-color: rgb(220, 220, 220);
}