.comments-main-section {
    width: 35vw;
    height: auto;

    margin-top: 2rem;
    margin-bottom: 2rem;
}

.comments-header{
    width: auto;
    height: 4rem;

    display: flex;
    flex-direction: row;
}

.comments-header-profile {
    width: 4rem;
    height: 4rem;

    border-radius: 50%;
}

.comments-header-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

    cursor: pointer;
  }

.comments-header-name{
    width: auto;
    height: 4rem;

    padding-left: 1rem;
    cursor: pointer;
}

.comments-message {
    width: auto;
    width: auto;
}

.comments-creation-date {
    font-size: x-small;
}

.comments-division-line {
    height: 0.1rem;
    width: auto;

    background-color: rgb(172, 172, 172);
}