.any-user-profile-body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap; 
}

.any-user-profile-section-one {
  width: 32vw;
  height:auto;
}

.any-user-profile-section-two {
  width: 50vw;
  height:auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.follow-button {
  height: 2.4rem;
  width: 7rem;

  border-radius: 3rem;
  border: none;

  margin-bottom: 1rem;

  background-color: #3461fb;
  color: white;
  font-weight: 400;

  cursor: pointer;
}

.follow-button:hover {
  background-color: #1849ea;
}

.unfollow-button {
  height: 2.4rem;
  width: 7rem;

  border-radius: 3rem;
  border: none;

  margin-bottom: 1rem;

  background-color: #acacac;
  color: white;
  font-weight: 400;

  cursor: pointer;
}

.unfollow-button:hover {
  background-color: #808080;
}
